html {
   background: url(images/fon.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.element { 
   width: 250px;
   border-top-right-radius: 50px;
   border-bottom-left-radius: 50px;
   border-top-left-radius: 10px;
   border-bottom-right-radius: 10px;
   background-color:#4285f4;
   padding: 10px 50px;  
   font-size: 20px;
   font-family: 'Arial', sans-serif;
   text-align: center;
   text-decoration: none;
   color: white;
   border: none;
   cursor: pointer;
   transition: background-color 0.3s ease;
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.508);
   margin: 10px; 
}
.element:hover {
   background-color: #3367d6;
}
.element:active {
   background-color: #2a56c7;
   transform: translateY(2px);
}


  